body {
    background-color: #FAFAD2;
    color: #555;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}